.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;


    .mask {
        width: 100vw;
        height: 100vh;
        z-index: 11;
        position: absolute;
        left: 0;
        top: 0;
    }

    .content {
        background: #fff;
        position: absolute;
        left: 8vw;
        top: 50%;
        transform: translateY(-50%);
        z-index: 12;
        width: 84vw;
        min-height: 42vw;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 2px #00000012;
    }
}