.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        font-size: 64px;
        color: #702632;
        margin: 0 0 124px;
    }

    .startBtn {
        font-size: 16px;
        text-decoration: none;
        color: #fff;
        width: 120px;
        height: 40px;
        background: #912f40;
        border: 1px solid #fffffa;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
