.container {
    width: 100%;
    height: 100%;
    background: #fefefe;

    .levelTitle {
        color: #fb8500;
        font-size: 24px;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }

    .bottles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer {
        cursor: pointer;
        background: #fb8500;
        width: 120px;
        height: 32px;
        border-radius: 16px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 42px auto;
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .completeText {
            font-size: 20px;
            color: #fb8500;
            margin: 24px 0;
        }
        .nextLevel {
            cursor: pointer;
            background: #ffb703;
            width: 120px;
            height: 32px;
            border-radius: 16px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
